{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container my-4">
        <h2 class="text-center">Watchlist</h2>
        <div class="row">
            {% for listing in listings %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <div class="card-img-top" style="height: 16rem; overflow: hidden;">
                        <img src="{{ listing.imageUrl }}" class="img-fluid" alt="{{ listing.title }}" style="object-fit: cover; height: 100%; width: 100%;">
                    </div>
                    <div class="card-body" style="padding: 10px;">
                        <h5 class="card-title" style="font-size: 1.1rem;">{{ listing.title }}</h5>
                        <p class="card-text" style="font-size: 0.9rem;">{{ listing.description }}</p>
                        <p class="card-text" style="font-size: 0.9rem;">Price: <strong>Rs. {{ listing.price.bid }}</strong></p>
                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-sm">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
